<div class="post-container">
    <a href="/posts/<%= post.id %>">
        <p class="post-title"><%= post.title %></p>

        <p class="post-content"><%= post.content %></p>

        <div class="meta">
            <span class="icon-text"> <%= post.nickname %></span>

            <img class="click-icodn" src="/icon/view.png" alt="" srcset="" sizes="10">
            <span class="icon-text"> <%= post.view %></span>

            <img class="click-icodn" src="/icon/like.png" alt="" srcset="" sizes="10">
            <span class="icon-text"> <%= post.like %></span>
        </div>
    </a>
</div>