<%- include('header') %>

<div class="posts-begin"></div>
<% if(typeof post == 'undefined'){ %>
<div class="post-write row">
    <div class="col-2"></div>
    <div class="col-1">
        <a class="" data-title="<%= nickname %>">
            <img class="avatar" src="/images/<%= avatar %>">
        </a>
    </div>
    <div class="col-7">
        <div class="post-border">
            <form method="POST" action="/write" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlInput1">标题</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">内容</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="content"></textarea>
                </div>
                <button type="submit" class="form-control btn-primary btn">发布</button>

            </form>
        </div>
    </div>
</div>
<% }else{ %>
<div class="post-write row">
    <div class="col-2"></div>
    <div class="col-1">
        <a class="" data-title="<%= nickname %>">
            <img class="avatar" src="/images/<%= avatar %>">
        </a>
    </div>
    <div class="col-7">
        <div class="post-border">
            <form method="POST" action="/write/<%= post.id %>" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlInput1">标题</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title"
                        value="<%= post.title %>">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">内容</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="content"
                        value=""><%= post.content %></textarea>
                </div>
                <button type="submit" class="form-control btn-primary btn">发布</button>
            </form>
        </div>
    </div>
</div>
<% } %>


<%- include('footer') %>